# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/app/archive

# testing
/coverage
/app/archive

# next.js
/.next/
/out/
/app/archive

# production
/build
/app/archive

# misc
.DS_Store
*.pem
/app/archive

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
/app/archive

# env files (can opt-in for committing if needed)
.env*
/app/archive

# vercel
.vercel
/app/archive

# typescript
*.tsbuildinfo
next-env.d.ts
/app/archive
pass.txt
